In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame([[np.nan,2,np.nan,0],[3,4,np.nan,1],[np.nan,np.nan,np.nan,2],[np.nan,3,np.nan,4]])

In [3]:
df.fillna(method='ffill')

     0    1   2  3
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  2
3  3.0  3.0 NaN  4

In [4]:
print(df)

     0    1   2  3
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  2
3  NaN  3.0 NaN  4