In [1]:
import pandas as pd

In [6]:
stu1 = pd.Series({'math':100,'English':90,'Korean':80})
stu2 = pd.Series({'math':80,'English':70,'Korean':100})
stu1

math       100
English     90
Korean      80
dtype: int64

In [7]:
stu2

math        80
English     70
Korean     100
dtype: int64

In [8]:
add = stu1 + stu2
minus = stu1 - stu2
mux = stu1 * stu2
divi = stu1 / stu2
type(divi)

pandas.core.series.Series

In [11]:
result = pd.DataFrame([add,minus,mux,divi],index = ['add','minus','mux','divi'])
result

          math      English  Korean
add     180.00   160.000000   180.0
minus    20.00    20.000000   -20.0
mux    8000.00  6300.000000  8000.0
divi      1.25     1.285714     0.8

In [12]:
sr_add = stu1.add(stu2)
sr_minus = stu1.sub(stu2)
sr_mux = stu1.mul(stu2)
sr_divi = stu1.div(stu2)
result_1 = pd.DataFrame([add,minus,mux,divi],index = ['add','minus','mux','divi'])
result_1

          math      English  Korean
add     180.00   160.000000   180.0
minus    20.00    20.000000   -20.0
mux    8000.00  6300.000000  8000.0
divi      1.25     1.285714     0.8