In [1]:
# set_index reset_index
import pandas as pd

In [2]:
dict_data = {'col0': [1,2,3],'col1': [4,5,6],'col2': [7,8,9]}
df = pd.DataFrame(dict_data,index = ['row0','row1','row2'])
df

      col0  col1  col2
row0     1     4     7
row1     2     5     8
row2     3     6     9

In [3]:
ndf = df.reset_index()
ndf

  index  col0  col1  col2
0  row0     1     4     7
1  row1     2     5     8
2  row2     3     6     9

In [4]:
df = ndf.set_index('index')
df

       col0  col1  col2
index
row0      1     4     7
row1      2     5     8
row2      3     6     9

In [7]:
df = df.sort_values(by = 'col0',ascending=False)
df

       col0  col1  col2
index
row2      3     6     9
row1      2     5     8
row0      1     4     7