In [19]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','sex','class','fare','survived']]
grouped = df.groupby(['class'])

In [20]:
age_mean = grouped.age.mean()
age_std = grouped.age.std()

In [21]:
for key, group in grouped.age:
    print(group)

1      38.0
3      35.0
6      54.0
11     58.0
23     28.0
       ...
871    47.0
872    33.0
879    56.0
887    19.0
889    26.0
Name: age, Length: 216, dtype: float64
9      14.0
15     55.0
17      NaN
20     35.0
21     34.0
       ...
866    27.0
874    28.0
880    25.0
883    28.0
886    27.0
Name: age, Length: 184, dtype: float64
0      22.0
2      26.0
4      35.0
5       NaN
7       2.0
       ...
882    22.0
884    25.0
885    39.0
888     NaN
890    32.0
Name: age, Length: 491, dtype: float64

In [22]:
#Standard Score(z-score) z = (x-mean)/standard deviation
for key, group in grouped.age:
    group_zscore = (group - age_mean.loc[key])/age_std.loc[key]
    print(key)
    print(group_zscore.head())

First
1    -0.015770
3    -0.218434
6     1.065103
11    1.335321
23   -0.691315
Name: age, dtype: float64
Second
9    -1.134029
15    1.794317
17         NaN
20    0.365855
21    0.294432
Name: age, dtype: float64
Third
0   -0.251342
2    0.068776
4    0.789041
5         NaN
7   -1.851931
Name: age, dtype: float64

In [23]:
#Standard Score(z-score) z = (x-mean)/standard 
def z_score(x):
    return (x-x.mean()) / x.std()

In [24]:
age_zscore = grouped.age.transform(z_score)

In [25]:
age_zscore.head()

0   -0.251342
1   -0.015770
2    0.068776
3   -0.218434
4    0.789041
Name: age, dtype: float64

<h>Filter</h>

In [29]:
group_people = grouped.filter(lambda people: len(people) >= 200)
print(type(group_people))

<class 'pandas.core.frame.DataFrame'>

In [31]:
print(grouped.count())
print(group_people.count())

        age  sex  fare  survived
class
First   186  216   216       216
Second  173  184   184       184
Third   355  491   491       491
age         541
sex         707
class       707
fare        707
survived    707
dtype: int64

In [32]:
grouped_age = grouped.filter(lambda people: people.age.mean() <30)
grouped_age.head()

    age     sex     fare  survived
0  22.0    male   7.2500         0
2  26.0  female   7.9250         1
4  35.0    male   8.0500         0
5   NaN    male   8.4583         0
7   2.0    male  21.0750         0