In [1]:
import pandas as pd
import os

In [2]:
print(os.getcwd())

c:\Users\82109\Desktop\Study\AI Basic Course\20201108

In [3]:
file_name = 'test.xlsx'
file_path = os.getcwd() + '\\' + file_name
file_path

'c:\\Users\\82109\\Desktop\\Study\\AI Basic Course\\20201108\\test.xlsx'

In [4]:
df1 = pd.read_excel(file_path)
df1

    활동실적별(1)  활동실적별(2)    2017    2018    2019
0   출동건수 (건)        소계  805194  837628  893606
1   구조건수 (건)        소계  655485  663526  719228
2   구조인원 (명)        소계  115595  104335   99922
3  미처리건수 (건)        소계  149709  174102  174378
4       1일평균        소계    2206       -       -
5        NaN  출동건수 (건)    2206    2295       -
6        NaN  구조건수 (건)    1796    1818    1970
7        NaN  구조인원 (명)     317     286     274