In [1]:
import pandas as pd

In [2]:
file_name = 'https://www.seoul.go.kr/coronaV/coronaStatus.do'

In [4]:
tables = pd.read_html(file_name)

In [5]:
len(tables)

57

In [6]:
df = tables[1]
df

     종로구   중구  용산구  성동구  광진구 동대문구
0     98   68  150  160  146  197
1      0    0    0   +9    0   +5
2    중랑구  성북구  강북구  도봉구  노원구  은평구
3    211  363  161  232  337  281
4      0   +3   +2    0    0   +1
5   서대문구  마포구  양천구  강서구  구로구  금천구
6    162  190  199  320  210   99
7     +9    0    0   +4    0   +1
8   영등포구  동작구  관악구  서초구  강남구  송파구
9    226  272  486  246  374  434
10    +6   +1    0   +1   +4   +2
11   강동구   기타  NaN  NaN  NaN  NaN
12   210  494  NaN  NaN  NaN  NaN
13    +3   +3  NaN  NaN  NaN  NaN

In [7]:
df2 = tables[2]
df2

,소계,해외유입,동대문구 에이스희망케어센터 관련,성동구 노인요양시설 관련,강남구 역삼역 관련,강남구 헬스장 관련,서초구 빌딩 관련,강서구 보험회사 관련,서울음악 교습 관련,용산구 소재 의류업체,...,용인시 동문골프 모임 관련,동대문구 한국산업 인력공단,송파구 시장 관련,종로구 녹음실 관련,송파구 소재 교회 관련,송파구 소재 병원 관련,언론인 관련,타 시·도 확진자 접촉자,기타,감염경로 조사중
0,6326,473,34,6,11,45,10,20,23,7,...,28,4,5,5,7,21,5,275,4227,1067