In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./mpg.csv')
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.info

In [ ]:
df.dtypes

In [ ]:
# 평균, 표준편차, 최대값, 최소값, 중간값
df.describe()

In [ ]:
df.count()

In [ ]:
df['mpg'].count()

In [ ]:
#mpg 항목에서 겹치는 값들의 개수
df['mpg'].value_counts()

In [ ]:
df['mpg'].mean()

In [ ]:
df.mean()

In [ ]:
df.median

In [ ]:
df.std()

In [ ]:
df

In [ ]:
df[['mpg','weight']].corr()

In [ ]:
df.median

In [22]:
df.corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267
cylinders,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746
displacement,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164
horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361
weight,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564
acceleration,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137
model_year,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000