In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv('./mpg.csv')

In [12]:
df['horsepower'].replace('a',np.nan,inplace=True)
df.dropna(subset=['horsepower'],axis=0,inplace=True)
df['horsepower'] = df['horsepower'].astype('int64')
df.head(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,usa,chevrolet chevelle malibu
2,18.0,8,318.0,150,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,europe,peugeot 504

In [13]:
print(df.horsepower.describe())

count    391.000000
mean     104.314578
std       38.418088
min       46.000000
25%       75.000000
50%       93.000000
75%      125.000000
max      230.000000
Name: horsepower, dtype: float64

In [14]:
print(df.dtypes)
print(df.horsepower.describe())

mpg             float64
cylinders         int64
displacement    float64
horsepower        int64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
dtype: object
count    391.000000
mean     104.314578
std       38.418088
min       46.000000
25%       75.000000
50%       93.000000
75%      125.000000
max      230.000000
Name: horsepower, dtype: float64

In [15]:
df.horsepower = df.horsepower / abs(df.horsepower.max())

In [16]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,0.565217,3504,12.0,70,usa,chevrolet chevelle malibu
2,18.0,8,318.0,0.652174,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,0.652174,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,0.608696,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,0.860870,4341,10.0,70,usa,ford galaxie 500

In [19]:
#정규화
min_x = df.horsepower - df.horsepower.min()
max_x = df.horsepower.max() - df.horsepower.min()
df['horsepower'] = min_x / max_x

In [23]:
print(df.horsepower)
print(df.horsepower.describe())

0      0.456522
2      0.565217
3      0.565217
4      0.510870
5      0.826087
         ...
393    0.217391
394    0.032609
395    0.206522
396    0.179348
397    0.195652
Name: horsepower, Length: 391, dtype: float64
count    391.000000
mean       0.316927
std        0.208794
min        0.000000
25%        0.157609
50%        0.255435
75%        0.429348
max        1.000000
Name: horsepower, dtype: float64