In [1]:
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')

In [3]:
df = titanic.loc[:,['age','fare']]

In [4]:
df['ten'] = 10

In [5]:
df

      age     fare  ten
0    22.0   7.2500   10
1    38.0  71.2833   10
2    26.0   7.9250   10
3    35.0  53.1000   10
4    35.0   8.0500   10
..    ...      ...  ...
886  27.0  13.0000   10
887  19.0  30.0000   10
888   NaN  23.4500   10
889  26.0  30.0000   10
890  32.0   7.7500   10

[891 rows x 3 columns]

In [6]:
def add(number):
    return number + 20

In [8]:
seri = df['age'].apply(add)
print(seri.head())

0    42.0
1    58.0
2    46.0
3    55.0
4    55.0
Name: age, dtype: float64

In [9]:
df['age'].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [12]:
seri = df['age'].apply(lambda number: number + 20)
seri.head()

0    42.0
1    58.0
2    46.0
3    55.0
4    55.0
Name: age, dtype: float64

In [13]:
def add_two_input(num1,num2):
    return num1+num2

In [15]:
seri = df['age'].apply(add_two_input,num2=10)
print(seri)

0      32.0
1      48.0
2      36.0
3      45.0
4      45.0
       ...
886    37.0
887    29.0
888     NaN
889    36.0
890    42.0
Name: age, Length: 891, dtype: float64

In [16]:
seri = df['age'].apply(lambda num1,num2=10: num1 + num2)
seri.head()

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

In [18]:
df_map = df.applymap(add)

In [19]:
print(type(df_map))

<class 'pandas.core.frame.DataFrame'>

In [20]:
print(df_map)

      age     fare  ten
0    42.0  27.2500   30
1    58.0  91.2833   30
2    46.0  27.9250   30
3    55.0  73.1000   30
4    55.0  28.0500   30
..    ...      ...  ...
886  47.0  33.0000   30
887  39.0  50.0000   30
888   NaN  43.4500   30
889  46.0  50.0000   30
890  52.0  27.7500   30

[891 rows x 3 columns]

In [21]:
def check_value(series):
    return series.isnull()

In [22]:
check_result = df.apply(check_value,axis=0) # column으로 넣을수 있도록 설정
print(type(check_result))

<class 'pandas.core.frame.DataFrame'>

In [23]:
print(check_result)

       age   fare    ten
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
886  False  False  False
887  False  False  False
888   True  False  False
889  False  False  False
890  False  False  False

[891 rows x 3 columns]

In [24]:
def check_max(series):
    return series.max()

In [25]:
max_value = df.apply(check_max)
print(type(max_value))
print(max_value)

<class 'pandas.core.series.Series'>
age      80.0000
fare    512.3292
ten      10.0000
dtype: float64

In [26]:
def add_all(a,b,c):
    return a+b+c

In [28]:
df['add_all'] = df.apply(lambda row : add_all(row[0],row[1],row[2]),axis=1)#axis=1은 1열을 의미한다.

In [29]:
print(df.head())

    age     fare  ten   add_all
0  22.0   7.2500   10   39.2500
1  38.0  71.2833   10  119.2833
2  26.0   7.9250   10   43.9250
3  35.0  53.1000   10   98.1000
4  35.0   8.0500   10   53.0500