In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]

In [ ]:
def check_Nan(x):
    return x.isnull()

In [ ]:
result = df.pipe(check_Nan)
print(result)
print(type(result))

In [ ]:
def count_Nan(x):
    return check_Nan(x).sum()

In [ ]:
result_count = df.pipe(count_Nan)
print(result_count)
print(type(result_count))

In [ ]:
def total_count_Nan(x):
    return count_Nan(x).sum()

In [ ]:
result_total_count = df.pipe(total_count_Nan)
print(result_total_count)
print(type(result_total_count))