In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('./stock-data.csv')

In [39]:
df.head()

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB

In [41]:
df['Date_new'] = pd.to_datetime(df['Date'])

In [42]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20 non-null     object
 1   Close     20 non-null     int64
 2   Start     20 non-null     int64
 3   High      20 non-null     int64
 4   Low       20 non-null     int64
 5   Volume    20 non-null     int64
 6   Date_new  20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.2+ KB

         Date  Close  Start   High    Low  Volume   Date_new
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26

In [43]:
df.set_index('Date_new',inplace = True)
# df.drop('Date',axis=1,inplace = True)

In [44]:
print(df.head())
print('\n')
print(df.info())

                  Date  Close  Start   High    Low  Volume
Date_new
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039


<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2018-07-02 to 2018-06-01
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

In [45]:
Date_day = df.index.to_period(freq='D') #DAY
print(Date_day)

PeriodIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
             '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
             '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
             '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
             '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
            dtype='period[D]', name='Date_new', freq='D')

In [46]:
Date_day = df.index.to_period(freq='M') #month
print(Date_day)

PeriodIndex(['2018-07', '2018-06', '2018-06', '2018-06', '2018-06', '2018-06',
             '2018-06', '2018-06', '2018-06', '2018-06', '2018-06', '2018-06',
             '2018-06', '2018-06', '2018-06', '2018-06', '2018-06', '2018-06',
             '2018-06', '2018-06'],
            dtype='period[M]', name='Date_new', freq='M')

In [47]:
Date_day = df.index.to_period(freq='Y') #year
print(Date_day)

PeriodIndex(['2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
             '2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
             '2018', '2018', '2018', '2018'],
            dtype='period[A-DEC]', name='Date_new', freq='A-DEC')

In [48]:
time_ms = pd.date_range(start='2020-11-15',end = None,periods = 6,freq = 'MS',tz = 'Asia/Tokyo')
print(time_ms)

DatetimeIndex(['2020-12-01 00:00:00+09:00', '2021-01-01 00:00:00+09:00',
               '2021-02-01 00:00:00+09:00', '2021-03-01 00:00:00+09:00',
               '2021-04-01 00:00:00+09:00', '2021-05-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='MS')

In [49]:
time_m = pd.date_range(start='2020-11-15',end = None,periods = 6,freq = 'M',tz = 'Asia/Tokyo')
print(time_m)

DatetimeIndex(['2020-11-30 00:00:00+09:00', '2020-12-31 00:00:00+09:00',
               '2021-01-31 00:00:00+09:00', '2021-02-28 00:00:00+09:00',
               '2021-03-31 00:00:00+09:00', '2021-04-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='M')

In [50]:
time_3m = pd.date_range(start='2020-11-15',end = None,periods = 6,freq = '3M',tz = 'Asia/Tokyo')
print(time_3m)

DatetimeIndex(['2020-11-30 00:00:00+09:00', '2021-02-28 00:00:00+09:00',
               '2021-05-31 00:00:00+09:00', '2021-08-31 00:00:00+09:00',
               '2021-11-30 00:00:00+09:00', '2022-02-28 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='3M')

In [51]:
time_w = pd.date_range(start='2020-11-15',end = None,periods = 6,freq = 'W',tz = 'Asia/Tokyo')
print(time_w)

DatetimeIndex(['2020-11-15 00:00:00+09:00', '2020-11-22 00:00:00+09:00',
               '2020-11-29 00:00:00+09:00', '2020-12-06 00:00:00+09:00',
               '2020-12-13 00:00:00+09:00', '2020-12-20 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='W-SUN')

In [52]:
time_h = pd.date_range(start='2020-11-15',end = None,periods = 6,freq = 'H',tz = 'Asia/Tokyo')
print(time_h)

DatetimeIndex(['2020-11-15 00:00:00+09:00', '2020-11-15 01:00:00+09:00',
               '2020-11-15 02:00:00+09:00', '2020-11-15 03:00:00+09:00',
               '2020-11-15 04:00:00+09:00', '2020-11-15 05:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='H')

In [53]:
df.head()

                  Date  Close  Start   High    Low  Volume
Date_new
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039

In [54]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2018-07-02 to 2018-06-01
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     datetime64[ns]
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 1.1 KB

In [55]:
df['Year'] = df['Date'].dt.to_period(freq ='A')
df['Month'] = df['Date'].dt.to_period(freq ='M')
df['Day'] = df['Date'].dt.to_period(freq ='D')

In [56]:
df.head()

,Date,Close,Start,High,Low,Volume,Year,Month,Day
Date_new,,,,,,,,,
2018-07-02,2018-07-02,10100,10850,10900,10000,137977,2018,2018-07,2018-07-02
2018-06-29,2018-06-29,10700,10550,10900,9990,170253,2018,2018-06,2018-06-29
2018-06-28,2018-06-28,10400,10900,10950,10150,155769,2018,2018-06,2018-06-28
2018-06-27,2018-06-27,10900,10800,11050,10500,133548,2018,2018-06,2018-06-27
2018-06-26,2018-06-26,10800,10900,11000,10700,63039,2018,2018-06,2018-06-26

In [57]:
df.drop('Date',axis=1,inplace=True)

In [58]:
df.head()

            Close  Start   High    Low  Volume  Year    Month         Day
Date_new
2018-07-02  10100  10850  10900  10000  137977  2018  2018-07  2018-07-02
2018-06-29  10700  10550  10900   9990  170253  2018  2018-06  2018-06-29
2018-06-28  10400  10900  10950  10150  155769  2018  2018-06  2018-06-28
2018-06-27  10900  10800  11050  10500  133548  2018  2018-06  2018-06-27
2018-06-26  10800  10900  11000  10700   63039  2018  2018-06  2018-06-26

In [59]:
df.index

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='Date_new', freq=None)

In [60]:
df.loc['2018-07']

            Close  Start   High    Low  Volume  Year    Month         Day
Date_new
2018-07-02  10100  10850  10900  10000  137977  2018  2018-07  2018-07-02

In [66]:
print(df.loc['2018-06'])
print(df.loc['2018-06','Start':'High'])
print(df.loc['2018-07-02'])

            Close  Start   High    Low  Volume  Year    Month         Day
Date_new
2018-06-29  10700  10550  10900   9990  170253  2018  2018-06  2018-06-29
2018-06-28  10400  10900  10950  10150  155769  2018  2018-06  2018-06-28
2018-06-27  10900  10800  11050  10500  133548  2018  2018-06  2018-06-27
2018-06-26  10800  10900  11000  10700   63039  2018  2018-06  2018-06-26
2018-06-25  11150  11400  11450  11000   55519  2018  2018-06  2018-06-25
2018-06-22  11300  11250  11450  10750  134805  2018  2018-06  2018-06-22
2018-06-21  11200  11350  11750  11200  133002  2018  2018-06  2018-06-21
2018-06-20  11550  11200  11600  10900  308596  2018  2018-06  2018-06-20
2018-06-19  11300  11850  11950  11300  180656  2018  2018-06  2018-06-19
2018-06-18  12000  13400  13400  12000  309787  2018  2018-06  2018-06-18
2018-06-15  13400  13600  13600  12900  201376  2018  2018-06  2018-06-15
2018-06-14  13450  13200  13700  13150  347451  2018  2018-06  2018-06-14
2018-06-12  13200  12200  13300  12050  558148  2018  2018-06  2018-06-12
2018-06-11  11950  12000  12250  11950   62293  2018  2018-06  2018-06-11
2018-06-08  11950  11950  12200  11800   59258  2018  2018-06  2018-06-08
2018-06-07  11950  12200  12300  11900   49088  2018  2018-06  2018-06-07
2018-06-05  12150  11800  12250  11800   42485  2018  2018-06  2018-06-05
2018-06-04  11900  11900  12200  11700   25171  2018  2018-06  2018-06-04
2018-06-01  11900  11800  12100  11750   32062  2018  2018-06  2018-06-01
            Start   High
Date_new
2018-06-29  10550  10900
2018-06-28  10900  10950
2018-06-27  10800  11050
2018-06-26  10900  11000
2018-06-25  11400  11450
2018-06-22  11250  11450
2018-06-21  11350  11750
2018-06-20  11200  11600
2018-06-19  11850  11950
2018-06-18  13400  13400
2018-06-15  13600  13600
2018-06-14  13200  13700
2018-06-12  12200  13300
2018-06-11  12000  12250
2018-06-08  11950  12200
2018-06-07  12200  12300
2018-06-05  11800  12250
2018-06-04  11900  12200
2018-06-01  11800  12100
            Close  Start   High    Low  Volume  Year    Month         Day
Date_new
2018-07-02  10100  10850  10900  10000  137977  2018  2018-07  2018-07-02

In [67]:
print(df.loc['2018-07-02':'2018-06-11'])

            Close  Start   High    Low  Volume  Year    Month         Day
Date_new
2018-07-02  10100  10850  10900  10000  137977  2018  2018-07  2018-07-02
2018-06-29  10700  10550  10900   9990  170253  2018  2018-06  2018-06-29
2018-06-28  10400  10900  10950  10150  155769  2018  2018-06  2018-06-28
2018-06-27  10900  10800  11050  10500  133548  2018  2018-06  2018-06-27
2018-06-26  10800  10900  11000  10700   63039  2018  2018-06  2018-06-26
2018-06-25  11150  11400  11450  11000   55519  2018  2018-06  2018-06-25
2018-06-22  11300  11250  11450  10750  134805  2018  2018-06  2018-06-22
2018-06-21  11200  11350  11750  11200  133002  2018  2018-06  2018-06-21
2018-06-20  11550  11200  11600  10900  308596  2018  2018-06  2018-06-20
2018-06-19  11300  11850  11950  11300  180656  2018  2018-06  2018-06-19
2018-06-18  12000  13400  13400  12000  309787  2018  2018-06  2018-06-18
2018-06-15  13400  13600  13600  12900  201376  2018  2018-06  2018-06-15
2018-06-14  13450  13200  13700  13150  347451  2018  2018-06  2018-06-14
2018-06-12  13200  12200  13300  12050  558148  2018  2018-06  2018-06-12
2018-06-11  11950  12000  12250  11950   62293  2018  2018-06  2018-06-11

In [68]:
today = pd.to_datetime('2020-11-15')
print(today)

2020-11-15 00:00:00

In [69]:
today - df.index

TimedeltaIndex(['867 days', '870 days', '871 days', '872 days', '873 days',
                '874 days', '877 days', '878 days', '879 days', '880 days',
                '881 days', '884 days', '885 days', '887 days', '888 days',
                '891 days', '892 days', '894 days', '895 days', '898 days'],
               dtype='timedelta64[ns]', name='Date_new', freq=None)

In [71]:
df['-day'] = today - df.index

In [72]:
df.head()

,Close,Start,High,Low,Volume,Year,Month,Day,-day
Date_new,,,,,,,,,
2018-07-02,10100,10850,10900,10000,137977,2018,2018-07,2018-07-02,867 days
2018-06-29,10700,10550,10900,9990,170253,2018,2018-06,2018-06-29,870 days
2018-06-28,10400,10900,10950,10150,155769,2018,2018-06,2018-06-28,871 days
2018-06-27,10900,10800,11050,10500,133548,2018,2018-06,2018-06-27,872 days
2018-06-26,10800,10900,11000,10700,63039,2018,2018-06,2018-06-26,873 days