In [1]:
import seaborn as sns

In [15]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[0:4,'survived':'age']
df

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [8]:
columns = list(df.columns.values)
print(columns)

['survived', 'pclass', 'sex', 'age']

In [16]:
columns_sorted = sorted(columns)
print(columns_sorted)

['age', 'pclass', 'sex', 'survived']

In [20]:
columns_reversed = list(reversed(columns_sorted))
print(type(columns_reversed))
print(columns_reversed)

<class 'list'>
['survived', 'sex', 'pclass', 'age']

In [21]:
 df_sorted = df[columns_sorted]
 df_sorted.head()

    age  pclass     sex  survived
0  22.0       3    male         0
1  38.0       1  female         1
2  26.0       3  female         1
3  35.0       1  female         1
4  35.0       3    male         0

In [22]:
df_reversed = df[columns_reversed]
df_reversed.head()

   survived     sex  pclass   age
0         0    male       3  22.0
1         1  female       1  38.0
2         1  female       3  26.0
3         1  female       1  35.0
4         0    male       3  35.0

In [23]:
columns_me = ['sex','age','survived','pclass']
df = df[columns_me]
print(df)

      sex   age  survived  pclass
0    male  22.0         0       3
1  female  38.0         1       1
2  female  26.0         1       3
3  female  35.0         1       1
4    male  35.0         0       3