In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./stock-data.csv')
df.head()

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039

In [5]:
df['Date_New'] = df['Date'].str.split('-')
df.head()

         Date  Close  Start   High    Low  Volume        Date_New
0  2018-07-02  10100  10850  10900  10000  137977  [2018, 07, 02]
1  2018-06-29  10700  10550  10900   9990  170253  [2018, 06, 29]
2  2018-06-28  10400  10900  10950  10150  155769  [2018, 06, 28]
3  2018-06-27  10900  10800  11050  10500  133548  [2018, 06, 27]
4  2018-06-26  10800  10900  11000  10700   63039  [2018, 06, 26]

In [7]:
df['Year'] = df['Date_New'].str.get(0)
df['Month'] = df['Date_New'].str.get(1)
df['Day'] = df['Date_New'].str.get(2)
df.head()

,Date,Close,Start,High,Low,Volume,Date_New,Year,Month,Day
0,2018-07-02,10100,10850,10900,10000,137977,"[2018, 07, 02]",2018,07,02
1,2018-06-29,10700,10550,10900,9990,170253,"[2018, 06, 29]",2018,06,29
2,2018-06-28,10400,10900,10950,10150,155769,"[2018, 06, 28]",2018,06,28
3,2018-06-27,10900,10800,11050,10500,133548,"[2018, 06, 27]",2018,06,27
4,2018-06-26,10800,10900,11000,10700,63039,"[2018, 06, 26]",2018,06,26