In [1]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','sex','class','fare','survived']]

In [2]:
grouped = df.groupby(['class'])

In [4]:
max_grouped = grouped.max()

In [5]:
print(max_grouped)

         age   sex      fare  survived
class
First   80.0  male  512.3292         1
Second  70.0  male   73.5000         1
Third   74.0  male   69.5500         1

In [6]:
std_grouped = grouped.std()

In [7]:
print(std_grouped)

              age       fare  survived
class
First   14.802856  78.380373  0.484026
Second  14.001077  13.417399  0.500623
Third   12.495398  11.778142  0.428949

In [8]:
std_fare_grouped = grouped.fare.std()
print(std_fare_grouped)

class
First     78.380373
Second    13.417399
Third     11.778142
Name: fare, dtype: float64

In [9]:
def value_range(x):
    return x.max() - x.min()

In [10]:
agg_range = grouped.agg(value_range)
print(agg_range)

          age      fare  survived
class
First   79.08  512.3292         1
Second  69.33   73.5000         1
Third   73.58   69.5500         1

In [12]:
agg_all = grouped.agg(['min','max','mean','median','std'])
print(agg_all)

         age                          ... survived
         min   max       mean median  ...      max      mean median       std
class                                 ...
First   0.92  80.0  38.233441   37.0  ...        1  0.629630      1  0.484026
Second  0.67  70.0  29.877630   29.0  ...        1  0.472826      0  0.500623
Third   0.42  74.0  25.140620   24.0  ...        1  0.242363      0  0.428949

[3 rows x 15 columns]

In [16]:
agg_sep = grouped.agg({'age':['mean','min','max'],
                       'fare':'mean',
                       'survived':['sum','count']})
print(agg_sep)

              age                   fare survived
             mean   min   max       mean      sum count
class
First   38.233441  0.92  80.0  84.154687      136   216
Second  29.877630  0.67  70.0  20.662183       87   184
Third   25.140620  0.42  74.0  13.675550      119   491