In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("C:/Users/82109/Desktop/Study/AI Basic Course/data/stock price.xlsx",index_col='id')
df2 = pd.read_excel("C:/Users/82109/Desktop/Study/AI Basic Course/data/stock valuation.xlsx",index_col='id')

In [3]:
df3 = df1.join(df2) # index = key
df3.head()

,stock_name,value,price,name,eps,bps,per,pbr
id,,,,,,,,
1,한미약품,59385.666667,421000,NaN,NaN,NaN,NaN,NaN
2,CJ E&M,58540.666667,98900,CJ E&M,6301.333333,54068.0,15.695091,1.829178
3,엔에스쇼핑,14558.666667,13200,NaN,NaN,NaN,NaN,NaN
4,이마트,239230.833333,254500,이마트,18268.166667,295780.0,13.931338,0.860437
5,녹십자엠에스,468.833333,10200,NaN,NaN,NaN,NaN,NaN

In [4]:
df4 = df1.join(df2,how='inner')
print(df4)

   stock_name          value   price    name           eps     bps        per  \
id
2      CJ E&M   58540.666667   98900  CJ E&M   6301.333333   54068  15.695091
4         이마트  239230.833333  254500     이마트  18268.166667  295780  13.931338
6         삼양사   82750.000000   82000     삼양사   5741.000000  108090  14.283226
7         종근당   40293.666667  100500     종근당   3990.333333   40684  25.185866
10     모두투어리츠    3093.333333    3475  모두투어리츠     85.166667    5335  40.802348

         pbr
id
2   1.829178
4   0.860437
6   0.758627
7   2.470259
10  0.651359