In [23]:
import pandas as pd

In [24]:
df1 = pd.read_excel("C:/Users/82109/Desktop/Study/AI Basic Course/data/stock price.xlsx")
df2 = pd.read_excel("C:/Users/82109/Desktop/Study/AI Basic Course/data/stock valuation.xlsx")

In [25]:
def write_excel(merge,path = "C:/Users/82109/Desktop/Study/AI Basic Course/data/merge_stock.xlsx"):
    with pd.ExcelWriter(path) as writer:
        merge.to_excel(writer)

In [26]:
merge = pd.merge(df1,df2)
write_excel(merge)
print(merge)

   id stock_name          value   price    name           eps     bps  \
0   2     CJ E&M   58540.666667   98900  CJ E&M   6301.333333   54068
1   4        이마트  239230.833333  254500     이마트  18268.166667  295780
2   6        삼양사   82750.000000   82000     삼양사   5741.000000  108090
3   7        종근당   40293.666667  100500     종근당   3990.333333   40684
4  10     모두투어리츠    3093.333333    3475  모두투어리츠     85.166667    5335

         per       pbr
0  15.695091  1.829178
1  13.931338  0.860437
2  14.283226  0.758627
3  25.185866  2.470259
4  40.802348  0.651359

In [27]:
merge = pd.merge(df1,df2,how='outer',on='id')
print(merge)
write_excel(merge)

    id stock_name          value     price       name           eps       bps  \
0    1       한미약품   59385.666667  421000.0        NaN           NaN       NaN
1    2     CJ E&M   58540.666667   98900.0     CJ E&M   6301.333333   54068.0
2    3      엔에스쇼핑   14558.666667   13200.0        NaN           NaN       NaN
3    4        이마트  239230.833333  254500.0        이마트  18268.166667  295780.0
4    5     녹십자엠에스     468.833333   10200.0        NaN           NaN       NaN
5    6        삼양사   82750.000000   82000.0        삼양사   5741.000000  108090.0
6    7        종근당   40293.666667  100500.0        종근당   3990.333333   40684.0
7    8      쿠쿠홀딩스  179204.666667  177500.0        NaN           NaN       NaN
8    9         툴젠   -2514.333333  115400.0        NaN           NaN       NaN
9   10     모두투어리츠    3093.333333    3475.0     모두투어리츠     85.166667    5335.0
10  11        NaN            NaN       NaN         하림    274.166667    3551.0
11  12        NaN            NaN       NaN    메리츠금융지주   2122.333333   14894.0
12  13        NaN            NaN       NaN      한국타이어   5648.500000   51341.0
13  14        NaN            NaN       NaN  NHN엔터테인먼트   2110.166667   78434.0
14  15        NaN            NaN       NaN   삼성바이오로직스   4644.166667   60099.0

          per       pbr
0         NaN       NaN
1   15.695091  1.829178
2         NaN       NaN
3   13.931338  0.860437
4         NaN       NaN
5   14.283226  0.758627
6   25.185866  2.470259
7         NaN       NaN
8         NaN       NaN
9   40.802348  0.651359
10  11.489362  0.887074
11   6.313806  0.899691
12   7.453306  0.820007
13  30.755864  0.827447
14  89.790059  6.938551

In [28]:
merge_left = pd.merge(df1,df2,how='left',left_on='stock_name',right_on='name')
print(merge_left)

   id_x stock_name          value   price  id_y    name           eps  \
0     1       한미약품   59385.666667  421000   NaN     NaN           NaN
1     2     CJ E&M   58540.666667   98900   2.0  CJ E&M   6301.333333
2     3      엔에스쇼핑   14558.666667   13200   NaN     NaN           NaN
3     4        이마트  239230.833333  254500   4.0     이마트  18268.166667
4     5     녹십자엠에스     468.833333   10200   NaN     NaN           NaN
5     6        삼양사   82750.000000   82000   6.0     삼양사   5741.000000
6     7        종근당   40293.666667  100500   7.0     종근당   3990.333333
7     8      쿠쿠홀딩스  179204.666667  177500   NaN     NaN           NaN
8     9         툴젠   -2514.333333  115400   NaN     NaN           NaN
9    10     모두투어리츠    3093.333333    3475  10.0  모두투어리츠     85.166667

        bps        per       pbr
0       NaN        NaN       NaN
1   54068.0  15.695091  1.829178
2       NaN        NaN       NaN
3  295780.0  13.931338  0.860437
4       NaN        NaN       NaN
5  108090.0  14.283226  0.758627
6   40684.0  25.185866  2.470259
7       NaN        NaN       NaN
8       NaN        NaN       NaN
9    5335.0  40.802348  0.651359

In [29]:
merge_right = pd.merge(df1,df2,how='right',left_on='stock_name',right_on='name')
print(merge_right)

   id_x stock_name          value     price  id_y       name           eps  \
0   2.0     CJ E&M   58540.666667   98900.0     2     CJ E&M   6301.333333
1   NaN        NaN            NaN       NaN    11         하림    274.166667
2   NaN        NaN            NaN       NaN    12    메리츠금융지주   2122.333333
3   4.0        이마트  239230.833333  254500.0     4        이마트  18268.166667
4   6.0        삼양사   82750.000000   82000.0     6        삼양사   5741.000000
5   NaN        NaN            NaN       NaN    13      한국타이어   5648.500000
6   NaN        NaN            NaN       NaN    14  NHN엔터테인먼트   2110.166667
7   7.0        종근당   40293.666667  100500.0     7        종근당   3990.333333
8  10.0     모두투어리츠    3093.333333    3475.0    10     모두투어리츠     85.166667
9   NaN        NaN            NaN       NaN    15   삼성바이오로직스   4644.166667

      bps        per       pbr
0   54068  15.695091  1.829178
1    3551  11.489362  0.887074
2   14894   6.313806  0.899691
3  295780  13.931338  0.860437
4  108090  14.283226  0.758627
5   51341   7.453306  0.820007
6   78434  30.755864  0.827447
7   40684  25.185866  2.470259
8    5335  40.802348  0.651359
9   60099  89.790059  6.938551

In [30]:
merge_right.head()

,id_x,stock_name,value,price,id_y,name,eps,bps,per,pbr
0,2.0,CJ E&M,58540.666667,98900.0,2,CJ E&M,6301.333333,54068,15.695091,1.829178
1,NaN,NaN,NaN,NaN,11,하림,274.166667,3551,11.489362,0.887074
2,NaN,NaN,NaN,NaN,12,메리츠금융지주,2122.333333,14894,6.313806,0.899691
3,4.0,이마트,239230.833333,254500.0,4,이마트,18268.166667,295780,13.931338,0.860437
4,6.0,삼양사,82750.000000,82000.0,6,삼양사,5741.000000,108090,14.283226,0.758627

In [31]:
price_df1 = df1[df1['price']>50000]
price_df1.head()

   id stock_name          value   price
0   1       한미약품   59385.666667  421000
1   2     CJ E&M   58540.666667   98900
3   4        이마트  239230.833333  254500
5   6        삼양사   82750.000000   82000
6   7        종근당   40293.666667  100500

In [32]:
stock_price = pd.merge(price_df1,df2)
stock_price.drop(['name'],axis=1,inplace=True)
print(stock_price)

   id stock_name          value   price           eps     bps        per  \
0   2     CJ E&M   58540.666667   98900   6301.333333   54068  15.695091
1   4        이마트  239230.833333  254500  18268.166667  295780  13.931338
2   6        삼양사   82750.000000   82000   5741.000000  108090  14.283226
3   7        종근당   40293.666667  100500   3990.333333   40684  25.185866

        pbr
0  1.829178
1  0.860437
2  0.758627
3  2.470259

In [33]:
stock_price['value'] = stock_price['value'].round(1)
stock_price['eps'] = stock_price['eps'].round(1)
stock_price['per'] = stock_price['per'].round(1)
stock_price['pbr'] = stock_price['pbr'].round(1)
print(stock_price)

   id stock_name     value   price      eps     bps   per  pbr
0   2     CJ E&M   58540.7   98900   6301.3   54068  15.7  1.8
1   4        이마트  239230.8  254500  18268.2  295780  13.9  0.9
2   6        삼양사   82750.0   82000   5741.0  108090  14.3  0.8
3   7        종근당   40293.7  100500   3990.3   40684  25.2  2.5

In [34]:
df3 = df1.join(df2) # df3 = merge(df1,df2)
print(df3)

ValueError: columns overlap but no suffix specified: Index(['id'], dtype='object')